/*---------------------------------------*/


/* Font */


/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* body {
    background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
} */


/*---------------------------------------*/


/* Header */


/*---------------------------------------*/

.body {
    /* margin-left: 8px; */
}

.group {
    margin-bottom: 0px;
}

.horizontal-group .left {
    float: left;
    width: 10%;
}

.horizontal-group .right {
    float: right;
    width: 89.4%;
    padding-left: 9%;
}

.filter {
    height: 536px;
    width: 250px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.details {
    height: 45px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.detail-head {
    margin-left: 1%;
    margin-top: 1%;
}

.chat-head {
    height: 45px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.chat-body {
    height: 256px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: white;
}

.chat-body .scroll {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.chat-body .item-left {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    position: relative;
    font-size: 18px;
}

.chat-body .item-right {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    flex-direction: row;
    position: relative;
    font-size: 18px;
}

.chat-base {
    height: 46.5px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.list {
    height: 491px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: white;
    /* background-color: rgb(224, 221, 221); */
}

.card {
    height: 100px;
    width: 85%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #cccccc;
}

.filter .text {
    margin-left: 13%;
    margin-top: 7%;
}

.mat-h2 {
    margin-bottom: 0px;
}

.img {
    height: 73px;
    width: 30px;
    margin-left: 3%;
    margin-top: 1.5%;
    margin-right: 2%;
    /* border: 1px solid black; */
    border-radius: 5px;
}

button {
    background-color: #4B8886;
}

.send:hover {
    cursor: pointer;
}

.reset:hover {
    cursor: pointer;
}