<div class="text">
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#first_page">
                        <div>
                            <img style="height: 14%; width: 14%; margin-top: 1%; margin-bottom: 0;" src="../../assets/logo.ico" alt="logo">
                            <h1 style="margin-top: 2.5%; margin-right: 40%; font-size: 40px; color: white; float: right;"><span>R</span>ent<span>M</span>ates</h1>
                        </div>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="menu">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <!-- <li><a href="#" data-after="Home">Home</a></li> -->
                        <!-- <li><a href="#" data-after="Properties">Properties</a></li> -->
                        <li><a href="#" data-after="Login" routerLink='/login'>Login</a></li>
                        <!-- <li>
                            <div class="navbar">
                                <div class="dropdown">
                                    <a>Register<i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="#">Register as Tenant</a>
                                        <a href="#">Register as Owner</a>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                        <li><a href="#" data-after="Register" routerLink='/register'>Tenant Registration</a></li>
                        <li><a href="#" data-after="Register" routerLink='/register-owner'>Owner Registration</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="first_page">
        <div class="first_page container">
            <div>
                <h1 style="margin-left: 5%; margin-top: 10%;">RentMates<span style="height: 70px;"></span></h1>
                <h2 style="margin-left: 5%; font-size: 30px; margin-top: 5%; font-weight: lighter;">Find Better Places to Live and Wonder</h2>
                <h2 style="font-size: 30px; margin-top: 2%; font-weight: lighter; font-style: italic;">Get Started With Exploring Rental Options...</h2>
                <!-- <a href="#" type="button" class="cta">Login</a><br>
                <a href="#" type="button" class="cta">Register</a> -->
            </div>
        </div>
    </section>

    <section id="second_page">
        <div class="second_page container">
            <div class="top">
                <h1 class="title">Fea<span style="color: crimson;">t</span>ure<span style="color: crimson;">s</span></h1>
            </div>
            <div class="bottom">
                <div class="item">
                    <div class="icon"><img style="margin-left: 170%;" src="../../assets/icons8-home-256.png"></div>
                    <h2>Post your property</h2>
                    <p style="margin-bottom: 16%; margin-top: 17%;">Post your property just for free anytime.</p>
                </div>
                <div class="item">
                    <div class="icon"><img style="margin-left: 170%;" src="../../assets/icons8-home-256.png"></div>
                    <h2 style="margin-left: 10%;">Find Roommates</h2>
                    <p style="margin-bottom: 10%; margin-top: 10%;">You can find the roomamtes as per your preference.</p>
                </div>
                <div class="item">
                    <div class="icon"><img style="margin-left: 170%;" src="../../assets/icons8-home-256.png"></div>
                    <h2>Chat with your Roommate</h2>
                    <p style="margin-bottom: 13%; margin-top: 6%;">Invite the roomMate to chat with you.</p>
                </div>
                <div class="item">
                    <div class="icon"><img style="margin-left: 170%;" src="../../assets/icons8-home-256.png"></div>
                    <h2>Get roommates Recommendation</h2>
                    <p>Get a free recommendation from our side as per your profile.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="./home-page.component.js"></script>
</div>
<app-footer></app-footer>































































<!-- <div class="yellow_card" fxLayout="row">
        <div fxLayout="column" fxFlex="50%" style="margin-top: 11%; margin-left: 10%; font-size: 100px;">
            <label>RentMates</label>
        </div>
        <div style="margin-top: 9%; margin-left: 10%;">
            <div>
                <button mat-raised-button style="padding: 0px 100px; " type="submit" class="btn">sign in</button>
            </div>
            <div style="margin-top: 11%;">
                <button mat-raised-button style="padding: 0px 100px; " type="submit" class="btn">sign in</button>
            </div>
        </div>
    </div> -->