
<div class="nb__2csqm" fxLayout="row" fxLayoutGap="2%" style="background-color: #D7DBDD;">
  <div fxFlex="33%">
    <div style="margin-left: 10%;"><img src="https://assets.nobroker.in/static/img/listing/icon1.png" alt="No Calls From Brokers"></div>
    <h4 class="font-semi-bold heading-4" style="margin-left: 10%;"><b> Calls From Brokers</b></h4>
    <div class="font-light heading-6" style="margin-left: 10%;">Your information is kept confidential and you no longer have to worry about call
      from brokers.</div>
  </div>
  <div >
    <div><img src="https://assets.nobroker.in/static/img/listing/icon2.png" alt="Verified Tenants"></div>
    <h4 class="font-semi-bold heading-4"><b> Verified Tenants</b></h4>
    <div class="font-light heading-6">Thanks to our technology, only verified and genuine tenants can call you.</div>
  </div>
  <div >
    <div ><img src="https://assets.nobroker.in/static/img/listing/icon3.png" alt="Save Brokerage"></div>
    <h4 class="font-semi-bold heading-4"><b> Save Brokerage</b></h4>
    <div class="font-light heading-6">No Brokers means No Brokerage! Buy yourself a gift</div>
  </div>
</div>




























<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  
  <div class="container">

  
    <div class="row">

     
      <div class="col-lg-2 col-md-12 mb-4">

      
        <div class="view overlay z-depth-1-half">
          <img
            src="https://s3.mortarr.com/images/project_gallery_images/cultured-stone-overlook-at-huntcrest-luxury-apartments-exterior-balcony-view-1920x1920.jpeg"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
    
      <div class="col-lg-2 col-md-6 mb-4">

       
        <div class="view overlay z-depth-1-half">
          <img
            src="https://my2-cdn.pgimgs.com/listing/29474845/UPHO.132966951.V800/Pinnacle-Tower-PJ-Office-FOR-RENT-1389sf-Petaling-Jaya-Petaling-Jaya-Malaysia.jpg"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">

     
        <div class="view overlay z-depth-1-half">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Apartments%2Ctall%2Cmumbai%2CTN549.JPG"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
    
      <div class="col-lg-2 col-md-12 mb-4">

        
        <div class="view overlay z-depth-1-half">
          <img src="https://pix8.agoda.net/hotelImages/617/6179695/6179695_18112620170069936516.jpg?s=1024x768"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      
      <div class="col-lg-2 col-md-6 mb-4">

        
        <div class="view overlay z-depth-1-half">
          <img
            src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/201602231424103890-4e300e7efbf811e5ae8b0022195573b9.jpg?&output-quality=75&downsize=910:612&crop=910:612;3,0&output-format=jpg"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      

      
      <div class="col-lg-2 col-md-6 mb-4">

        
        <div class="view overlay z-depth-1-half">
          <img
            src="https://s3.mortarr.com/images/project_gallery_images/cultured-stone-overlook-at-huntcrest-luxury-apartments-pool-and-pool-house-1920x1920.jpeg"
            class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      

    </div>
   

  </div>

</footer>


















<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h3 class="mb-1">Register for free</h3>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded" routerLink="/register" >Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
</footer>

<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #4B8886;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h3 class="mb-0">Get connected with us on social networks!</h3>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100075584118344">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/feed/?trk=onboarding-landing">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/rentmaterent/">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h4 class="text-uppercase font-weight-bold">RentMates</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>If you are looking to rent or sell your individual house, flat, or commercial property the first thing you
          need to do is decide how to find a buyer or tenant. Now, you can’t always depend on your immediate contacts to
          help you get the job done, you need to cast a wider net, to get more options and to get better offers.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">Company</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">About us</a>
        </p>
        <p>
          <a href="#!">Feedback</a>
        </p>
        <p>
          <a href="#!">Privacy and Policy</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
        <p>
          <a href="#!">Coronavirus (COVID-19) travel advice</a>
        </p>
        <p>
          <a href="#!">Report a problem</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h3 class="text-uppercase font-weight-bold">Locations</h3>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Delhi</a>
        </p>
        <p>
          <a href="#!">Noida</a>
        </p>
        <p>
          <a href="#!">Gurgaon</a>
        </p>
        <p>
          <a href="#!">Banglore</a>
        </p>
        <p>
          <a href="#!">Pune</a>
        </p>
        <p>
          <a href="#!">Mumbai</a>
        </p>
        <p>
          <a href="#!">Chandigarh</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h4 class="text-uppercase font-weight-bold">Contact Us</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> NOida , Sector 62 , India
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> rentmates@gmail.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 234 567 88
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> + 91 234 567 89
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" >© 2020 Copyright:
    <a href="https://http://localhost:4200/home/"> RentMates.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
























<!-- 



<img class="wave" src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/82b8d8efd3b0ac6382b9d0d71a99c6cf9dcefa23/img/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/82b8d8efd3b0ac6382b9d0d71a99c6cf9dcefa23/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>

  -->
































    








