.example-spacer {
    flex: 1 1 auto;
    
  }

  .mat-sidenav {
    width: 280px;
    padding:15px;
    
}
.mat-drawer { 
    background-color: #4B8886;
    color:#fff;
  
}
.main-content {
    padding:20px;
}

.mat-menu{
  background-color: #4B8886;
}

.toolbar{
  background-color: #4B8886;
}
.logo{
  
  width: 70px;
  height: 50px;
  
}

.mat-toolbar{
  user-select: none;
}