/*---------------------------------------*/


/* Font */


/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* body {
    background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
} */


/*---------------------------------------*/


/* Header */


/*---------------------------------------*/

.body {
    /* margin-left: 8px; */
}

.group {
    margin-bottom: 0px;
}

.horizontal-group .left {
    float: left;
    width: 10%;
}

.horizontal-group .right {
    float: right;
    width: 85.5%;
    padding-left: 9%;
}

.filter {
    height: 529px;
    width: 300px;
    border: 1px solid #cccccc;
    background-color: #eef0f1;
}

.details {
    height: 80px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.detail-head {
    margin-left: 1%;
    margin-top: 2.5%;
}

.list {
    height: 449px;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.card {
    height: 100px;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid #cccccc;
}

.filter .text {
    margin-left: 4%;
    margin-top: 7%;
}

.property-card {
    margin-left: 10px;
    margin-top: 10px;
    /* border: 1px solid #cccccc; */
}

.colour {
    background-color: #F6F6F6;
    border-radius: 5px;
}

.mat-h2 {
    margin-bottom: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.search input[type=text] {
    padding: 7px;
    border: 1px solid #666;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 17px;
    border-radius: 3px;
}

.button {
    background-color: #4B8886;
}

.reset:hover {
    cursor: pointer;
}