@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.container{
    width: 90%;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

.container{
    border-radius: 20px;
}

.mat-icon{
    font-size:50px;
    color: #fff;
}

.mat-icon:hover{
    color: #fbff00;
}

.shadow-box{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.red-grad-1-background-color{
    background:#ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
    color: #fff;
}

.nunito-font{
    font-family: 'Nunito', sans-serif;
}

.mat-icon{
    font-size:35px;
}

h1{
    font-weight: bold;
    margin: 0;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span{
    font-size: 12px;
}

button{
    border-radius: 30px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button.ghost{
    padding: 5px 25px;
    margin: 5px;
    background: transparent;
    border-color: #fff;
    font-size: 15px;
    margin-bottom: 5vh;
}

button.ghost p{
    font-weight: 20;
}

.red-house-image{
    position: absolute;
    left: 0.4vw;
    top: 25vh;
    width: 35%;
}

.google-button-styling{
    border-radius: 60%;
    padding: 0px;
    color: black;
    background: transparent;
    border: 1px solid black;
    transition: transform 80ms ease-in;
}

.google-button-styling:active{
    
	transform: scale(0.95);
}


.container{
    user-select: none;
}
.background-styling{
    height: 100%;
}

@media only screen and (min-width: 1367px) {

    .container{
        position: absolute;
        top:130px;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
    }
  }

  @media only screen and (max-width: 1366px) {

    .container{
        position: absolute;
        top:20px;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
    }
  }

@media only screen and (max-width: 1279px) {
    button.ghost{
        padding: 5px 10px;
        margin: 5px;
        background: transparent;
        border-color: #fff;
        font-size: 10px;
    }

   
  }